@{
    Layout = null;
}

<!DOCTYPE html>
@model List<Project_E_Shop_.Models.Brand>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add | delete Brand</title>


    <link href="~/Content/themes/base/minified/jquery.ui.accordion.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.autocomplete.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.button.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.core.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.dialog.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.progressbar.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.resizable.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.selectable.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.slider.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.tabs.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.theme.min.css" rel="stylesheet" />

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.accordion.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.base.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.button.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.progressbar.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.resizable.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.selectable.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.slider.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.tabs.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/datePicker.css" rel="stylesheet" />
    <link href="~/Content/full-slider.css" rel="stylesheet" />
    <link href="~/Content/half-slider.css" rel="stylesheet" />
    <link href="~/Content/pro_dropline.css" rel="stylesheet" />
    <link href="~/Content/pro_dropline_ie.css" rel="stylesheet" />
    <link href="~/Content/screen.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <a href="~/Content/bootstrap-theme.css.map">~/Content/bootstrap-theme.css.map</a>
    <a href="~/Content/bootstrap.css.map">~/Content/bootstrap.css.map</a>

    <script src="~/scripts/_references.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/contact.js"></script>
    <script src="~/scripts/jquery-1.8.2.intellisense.js"></script>
    <script src="~/scripts/jquery-1.8.2.js"></script>
    <script src="~/scripts/jquery-1.8.2.min.js"></script>
    <script src="~/scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/knockout-2.2.0.debug.js"></script>
    <script src="~/scripts/knockout-2.2.0.js"></script>
    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/npm.js"></script>

</head>
<body>

    <div id="page-top-outer">

        <!-- Start: page-top -->
        <div id="page-top">

            <!-- start logo -->
            @*<div id="logo">
                <a href=""><img src="~/Content/themes/base/images/logo12.png" width="156" height="50" alt="" /></a>
            </div>*@
            <!-- end logo -->
            <!--  start top-search -->
          
            <!--  end top-search -->
            <div class="clear"></div>

        </div>
        <!-- End: page-top -->

    </div>
    <!-- End: page-top-outer -->

    <div class="clear">&nbsp;</div>

    <!--  start nav-outer-repeat................................................................................................. START -->
    <div class="nav-outer-repeat">
        <!--  start nav-outer -->
        <div class="nav-outer">

            <!-- start nav-right -->
            <div id="nav-right">

               
                <a href="/Admin/AdminLogout" id="logout"><img src="~/Content/themes/base/images/adminP/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
                <div class="clear">&nbsp;</div>


            </div>
            <!-- end nav-right -->
            <!--  start nav -->
            <div class="nav">
                <div class="table">

                   

                    <div class="nav-divider">&nbsp;</div>

                    <ul class="current">
                        <li>
                            <a href="#nogo"><b>Actions</b><!--[if IE 7]><!--></a><!--<![endif]-->
                            <!--[if lte IE 6]><table><tr><td><![endif]-->
                            <div class="select_sub show navbar navbar-inverse">
                                <ul class="sub">
                                    <li><a href="/Admin/AddProduct" style="color:white">Add Product</a></li>
                                    <li><a href="/Admin/ViewAllUser" style="color:white">All Users</a></li>
                                    <li><a href="/Admin/EditDelete" style="color:white">Edit Or Delete products</a></li>

                                    <li><a href="/Admin/AddCat" style="color:white">Add or Delete Category</a></li>
                                    <li><a href="/Admin/AddBrand" style="color:white">Add or Delete Brand</a></li>
                                    <li><a href="/Admin/Feedback" style="color:white">Users Feedback</a></li>
                                </ul>
                            </div>
                            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                        </li>
                    </ul>

                    <div class="nav-divider">&nbsp;</div>



                    <div class="nav-divider">&nbsp;</div>



                    <div class="nav-divider">&nbsp;</div>



                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <!--  start nav -->

        </div>
        <div class="clear"></div>
        <!--  start nav-outer -->
    </div>
    <!--  start nav-outer-repeat................................................... END -->

    <div class="clear"></div>

    <!-- start content-outer ........................................................................................................................START -->
    <div id="content-outer">
        <!-- start content -->
        <div id="content">
            <br />
            <!--  start page-heading -->
            <div id="page-heading">


                <h1>Add | Delete Brand</h1>
            </div>
            <br />
            <table border="1" width="100%" cellpadding="0" cellspacing="0" id="content-table">
                <tr>
                    <th rowspan="3" class="sized"><img src="~/Content/themes/base/images/adminP/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                    <th class="topleft"></th>
                    <td id="tbl-border-top">&nbsp;</td>
                    <th class="topright"></th>
                    <th rowspan="3" class="sized"><img src="~/Content/themes/base/images/adminP/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
                </tr>
                <tr>
                    <td id="tbl-border-left"></td>
                    <td>
                        <!--  start content-table-inner ...................................................................... START -->
                        <div id="content-table-inner">

                            <!--  start table-content  -->
                            <div id="table-content">


                                <form id="mainform" method="post"  enctype="multipart/form-data" action="/Admin/AddB">
                                    <div class="form-group">
                                        <div>
                                            <a class="pull-left ">Brand Name:</a>


                                            <input type="text" class="inp-form" name="Brand1" required />
                                        </div>
                                        <br />
                                        <div>
                                            <a class="pull-left">Attatch logo:</a>

                                              <input type="file" class="file_1" name="File" />
                                             


                                            <br />
                                        </div class="pull-right" >
                                        <input type="submit" value="ADD" class="pull-right btn-default" />
                                       
                                    </div>
                                </form>
                                <br />
                                <br />
                                <br />
                                <br />
                                <table border="1" width="100%" cellpadding="0" cellspacing="0" id="product-table">

                                    <tr>



                                        <th class="table-header-repeat line-left"><a>Id</a></th>

                                        <th class="table-header-options line-left"><a>Category Name</a></th>
                                    </tr>
                                    @foreach (var i in Model)
                                    {
                                        <tr>

                                            <td>@i.Id</td>
                                            <td><a href="">@i.Brand1</a></td>



                                            <td class="options-width">

                                                <!-- <a href="/Admin/DeleteUser" title=" delete" class="icon-2 info-tooltip"></a>-->
                                                @Html.ActionLink("Delete This Brand ", "DeleteBrand", new { id = i.Id })


                                            </td>
                                        </tr>
                                    }
                                </table>
                                <!--  end product-table................................... -->

                            </div>
                            <!--  end content-table  -->
                            <!--  start paging..................................................... -->
                            <!--  end paging................ -->

                            <div class="clear"></div>

                        </div>
                        <!--  end content-table-inner ............................................END  -->
                    </td>
                    <td id="tbl-border-right"></td>
                </tr>
                <tr>
                    <th class="sized bottomleft"></th>
                    <td id="tbl-border-bottom">&nbsp;</td>
                    <th class="sized bottomright"></th>
                </tr>
            </table>



            <div class="clear">&nbsp;</div>

        </div>
        <!--  end content -->
        <div class="clear">&nbsp;</div>
    </div>
    <!--  end content-outer -->



    <div class="clear">&nbsp;</div>

</body>
</html>
